.background {
  background-image: url("https://media.licdn.com/dms/image/C4E1BAQFSf4vc_VJMGA/company-background_10000/0?e=2159024400&v=beta&t=NUtafrzmThSz-pj8Q6hOUahwskROnX9nfyykUPHJp1k");
  background-size: cover;
  height: calc(100% - 64px);
  width: 100%;
}